/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif, "Noto Sans", sans-serif;
  height: 100%;
  width: 100%;
  color: #38470b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fz-10 {
  font-size: 10px;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-26 {
  font-size: 26px;
}

.fz-28 {
  font-size: 28px;
}

.fz-36 {
  font-size: 36px;
}

.fz-40 {
  font-size: 40px;
}

.fz-48 {
  font-size: 48px;
}

.fz-50 {
  font-size: 50px;
}

.calendar {
  border: 1px solid #38470b;
  border-radius: 0 !important;
}

.vanilla-calendar-arrow:before {
  background-color: #949c7c !important;
}

.dayBtn, .dayBtnToday {
  color: #38470b;
  border: none;
  font-size: 11px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
}
.dayBtn:hover, .dayBtnToday:hover {
  background-color: #949c7c;
  color: #ffffff;
}

.dayBtnSelected {
  background-color: #38470b;
  color: #ffffff;
}

.daySelectedLast {
  background: linear-gradient(to left, #ffffff, rgba(56, 71, 11, 0.2));
  border-radius: 0 100% 100% 0;
}

.daySelectedFirst {
  background: linear-gradient(to right, #ffffff, rgba(56, 71, 11, 0.2));
  border-radius: 100% 0 0 100%;
}

.daySelectedIntermediate {
  background-color: rgba(56, 71, 11, 0.2);
}

.dayBtnDisabled {
  color: rgba(56, 71, 11, 0.3);
  text-decoration: line-through;
  pointer-events: none;
}

.vanilla-calendar-week {
  color: rgba(56, 71, 11, 0.5) !important;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0392156863);
}

.month, .year {
  color: #38470b;
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.vanilla-calendar-header__content {
  gap: 4px;
}

.vanilla-calendar-months__month, .vanilla-calendar-years__year {
  color: #38470b !important;
  background-color: rgba(56, 71, 11, 0.2);
}

.success {
  display: none;
}

.fail {
  display: none;
}

.booking {
  display: block;
}

.alert .container {
  box-sizing: border-box;
  padding: 125px 0 104px;
  background-color: #38470b;
  width: 1110px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.alert .container .pic {
  display: flex;
  position: relative;
  width: 124px;
  height: 157px;
}
.alert .container .pic .bg {
  width: 100%;
}
.alert .container .pic .check {
  width: 50%;
}
.alert .container .pic .cross {
  width: 37px;
}
.alert .container .check,
.alert .container .cross {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.alert .container p {
  text-align: center;
  line-height: 30px;
}

.booking .container {
  border: 1px solid #38470b;
  background-color: #38470b;
  display: flex;
  width: 1110px;
  height: 600px;
}
.booking .customer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  padding: 50px 65px 26px;
  width: 445px;
}
.booking .customer ul li {
  gap: 7px;
  display: flex;
  flex-direction: column;
}
.booking .customer ul li:nth-child(n+2) {
  margin-top: 16px;
}
.booking .customer input {
  height: 38px;
}
.booking .customer button {
  margin-top: 20px;
  width: 100%;
  height: 42px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #38470b;
}
.booking .customer .days {
  color: #949c7c;
  margin: 16px 0;
}
.booking .customer .total {
  border-top: 1px solid #949c7c;
  padding-top: 8px;
  text-align: right;
}
.booking .customer .total h4 {
  line-height: 36px;
}
.booking .customer span {
  text-align: center;
}
.booking .info {
  padding: 51px 0 26px 51px;
  width: 665px;
  height: 100%;
  background-color: #ffffff;
  color: #38470b;
}
.booking .info h2 {
  line-height: 33px;
}
.booking .info h3 {
  line-height: 24px;
  font-weight: bold;
}
.booking .info .bookingProcess {
  display: flex;
  justify-content: space-between;
}
.booking .info .bookingProcess li {
  position: relative;
  line-height: 18px;
  text-align: center;
  width: 160px;
  height: 136px;
  border: 1px solid #949c7c;
  border-radius: 0px 0px 10px 10px;
}
.booking .info .bookingProcess li::before {
  content: ">";
  position: absolute;
  left: -15px;
  top: 25px;
  transform: translate(-100%, -50%);
}
.booking .info .bookingProcess li .pic {
  height: 50px;
  background-color: #949c7c;
}
.booking .info .bookingProcess li .pic img {
  width: 20%;
}
.booking .info .bookingProcess li p {
  margin-top: 12px;
main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.roomCoverContainer {
  width: 40%;
  height: 100%;
  background: url("../img/room/photo-1501876725168-00c445821c9e.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.roomCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #fcffff);
}

.backRoomList {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 88px;
  gap: 10px;
}
.backRoomList .arrowLeft {
  height: 16px;
}
.backRoomList a {
  color: #38470b;
}

.roomPriceContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 450px;
  gap: 20px;
}

.roomPrice {
  line-height: 100%;
}

.bookingButton {
  padding: 8px 64px;
  margin-top: 10px;
  background: #38470b;
  color: #fcffff;
  font-weight: 600;
}

.roomContentContainer {
  width: 60%;
}

.roomContent {
  margin-left: 30px;
  width: 640px;
}

.roomContentTitle {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 107px;
}

.roomName {
  font-weight: 600;
}

.roomSummary {
  margin-bottom: 10px;
  font-weight: 500;
}

.roomCheckTime {
  margin-top: 38px;
  line-height: 24px;
}

.roomNotice {
  margin-top: 35px;
  font-weight: 300;
  line-height: 24px;
}
.roomNotice li {
  list-style: disc;
}

.roomFacilities {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  gap: 36px 25px;
}

.roomFacilityIcon {
  display: flex;
  align-items: start;
  gap: 0 4px;
}

.facilityIconMain {
  width: 40px;
  height: auto;
}

.facilityIconSmall {
  width: 15px;
  height: auto;
}

.roomFacilityTitle {
  margin-top: 7px;
  text-align: center;
}

.roomBookingState {
  margin-top: 28px;
}
.roomBookingState h3 {
  font-weight: 500;
}

.bookingCalender {
  margin-top: 8px;
  width: 100%;
  height: 200px;
  border: 1px solid;
}

.reSearch {
  margin-top: 6px;
  color: #949c7c;
}