/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif, "Noto Sans", sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-style: none;
}

ul,
li {
  list-style: none;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-26 {
  font-size: 26px;
}

.fz-28 {
  font-size: 28px;
}

.fz-36 {
  font-size: 36px;
}

.fz-40 {
  font-size: 40px;
}

.fz-48 {
  font-size: 48px;
}

.fz-50 {
  font-size: 50px;
}

.success {
  display: none;
}

.fail {
  display: none;
}

.booking {
  display: block;
}

.alert .container {
  box-sizing: border-box;
  padding: 125px 0 104px;
  background-color: #38470b;
  width: 1110px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.alert .container .pic {
  display: flex;
  position: relative;
  width: 124px;
  height: 157px;
}
.alert .container .pic .bg {
  width: 100%;
}
.alert .container .pic .check {
  width: 50%;
}
.alert .container .pic .cross {
  width: 37px;
}
.alert .container .check, .alert .container .cross {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.alert .container p {
  text-align: center;
  line-height: 30px;
}

.booking .container {
  border: 1px solid #38470b;
  background-color: #38470b;
  display: flex;
  width: 1110px;
  height: 600px;
}
.booking .customer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  padding: 50px 65px 26px;
  width: 445px;
}
.booking .customer ul li {
  gap: 7px;
  display: flex;
  flex-direction: column;
}
.booking .customer ul li:nth-child(n+2) {
  margin-top: 16px;
}
.booking .customer input {
  height: 38px;
}
.booking .customer button {
  margin-top: 20px;
  width: 100%;
  height: 42px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #38470b;
}
.booking .customer .days {
  color: #949c7c;
  margin: 16px 0;
}
.booking .customer .total {
  border-top: 1px solid #949c7c;
  padding-top: 8px;
  text-align: right;
}
.booking .customer .total h4 {
  line-height: 36px;
}
.booking .customer span {
  text-align: center;
}
.booking .info {
  width: 665px;
  height: 100%;
  background-color: #ffffff;
}