/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif, "Noto Sans", sans-serif;
  height: 100%;
  width: 100%;
  color: #38470b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fz-10 {
  font-size: 10px;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-26 {
  font-size: 26px;
}

.fz-28 {
  font-size: 28px;
}

.fz-36 {
  font-size: 36px;
}

.fz-40 {
  font-size: 40px;
}

.fz-48 {
  font-size: 48px;
}

.fz-50 {
  font-size: 50px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.roomContentContainer {
  width: 60%;
  padding-right: 30px;
}

.roomCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #fcffff);
}

.backRoomList {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.backRoomList .arrowLeft {
  height: 16px;
}
.backRoomList a {
  color: #38470b;
}

.roomPriceContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 450px;
  gap: 20px;
}

.roomPrice {
  line-height: 100%;
}

.bookingButton {
  padding: 8px 64px;
  margin-top: 10px;
  background: #38470b;
  color: #fcffff;
  font-weight: 600;
}

.roomContentContainer {
  width: 60%;
}

.roomContent {
  margin-left: 30px;
  max-width: 640px;
}

.roomContentTitle {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 107px;
}

.roomName {
  font-weight: 600;
}

.roomSummary {
  margin-bottom: 10px;
  font-weight: 500;
}

.roomCheckTime {
  margin-top: 38px;
  line-height: 24px;
}

.roomNotice {
  margin-top: 35px;
  font-weight: 300;
  line-height: 24px;
}
.roomNotice li {
  list-style: disc;
}

.roomFacilities {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  gap: 36px 25px;
}

.roomFacilityIcon {
  display: flex;
  align-items: start;
  gap: 0 4px;
}

.facilityIconMain {
  width: 40px;
  height: auto;
}

.facilityIconSmall {
  width: 15px;
  height: auto;
}

.roomFacilityTitle {
  margin-top: 7px;
  text-align: center;
}

.roomBookingState {
  margin-top: 28px;
}
.roomBookingState h3 {
  font-weight: 500;
}

.bookingCalender {
  margin-top: 8px;
  height: 200px;
  border: 1px solid;
}

.reSearch {
  margin-top: 6px;
  color: #949c7c;
  cursor: pointer;
  width: fit-content;
}

.iconOpacityEffect {
  opacity: 0.3;
}

.roomCoverContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  cursor: pointer;
}

.roomCoverSwiper {
  position: relative;
  width: 100%;
  height: 100vh;
}
.roomCoverSwiper::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #fcffff 100%);
}
.roomCoverSwiper .swiper-slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.roomCoverSwiper .swiper-pagination {
  bottom: 48px;
}
.roomCoverSwiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid #38470b;
  background-color: transparent;
  opacity: 1;
}
.roomCoverSwiper .swiper-pagination-bullet-active {
  background-color: #38470b;
}

.photoZoomIn {
  position: absolute;
  z-index: 20;
  overflow: hidden;
  width: 100%;
}

.zoomBackdrop {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: RGBA(0, 0, 0, 0.5);
  box-sizing: border-box;
  cursor: pointer;
}
.zoomBackdrop .zoomPhoto {
  width: auto;
  height: 90vh;
  cursor: auto;
}

.zoomPrevArrow,
.zoomNextArrow {
  width: 30px;
  height: auto;
}

.disable {
  opacity: 0.3;
}

.roomCoverInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.backRoomList {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -32px;
  gap: 10px;
}
.backRoomList .arrowLeft {
  height: 16px;
}
.backRoomList a {
  color: #38470b;
  font-weight: 300;
}

.bookingCalender {
  border: 1px solid #38470b;
  border-radius: 0 !important;
}

.vanilla-calendar {
  min-width: 603px !important;
  min-height: 278px !important;
}

.vanilla-calendar-arrow:before {
  background-color: #949c7c !important;
}

.vanilla-calendar-arrow {
  width: 14px !important;
  height: 19px !important;
}

.vanilla-calendar-controls {
  z-index: 20 !important;
  padding-top: 14px !important;
}

.dayBtn, .dayBtnToday {
  color: #38470b;
  border: none;
  font-size: 11px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
}
.dayBtn:hover, .dayBtnToday:hover {
  background-color: #949c7c;
  color: #ffffff;
}

.dayBtnSelected {
  background-color: #38470b;
  color: #ffffff;
}

.daySelectedIntermediate .dayBtnSelected {
  background-color: transparent;
  color: #38470b;
}

.daySelectedFirst .dayBtnSelected {
  background-color: #38470b;
  color: #ffffff;
}

.daySelectedLast .dayBtnSelected {
  background-color: #949c7c;
  color: #ffffff;
}

.daySelectedLast {
  background: linear-gradient(to left, #ffffff, rgba(56, 71, 11, 0.2));
  border-radius: 0 100% 100% 0;
  font-weight: bold;
}

.daySelectedFirst {
  background: linear-gradient(to right, #ffffff, rgba(56, 71, 11, 0.2));
  border-radius: 100% 0 0 100%;
  font-weight: bold;
}

.daySelectedIntermediate {
  background-color: rgba(56, 71, 11, 0.2);
}

.dayBtnDisabled {
  color: rgba(56, 71, 11, 0.3);
  text-decoration: line-through;
  pointer-events: none;
}

.vanilla-calendar-week {
  color: rgba(56, 71, 11, 0.5) !important;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0392156863);
}

.vanilla-calendar-week__day {
  color: rgba(56, 71, 11, 0.5) !important;
}

.month, .year {
  color: #38470b;
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.vanilla-calendar-header__content {
  gap: 4px;
}

.vanilla-calendar_hidden {
  visibility: visible !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}

.booking .vanilla-calendar {
  box-sizing: border-box !important;
  border-radius: 0 !important;
  min-width: 315px !important;
  min-height: 278px !important;
  background-color: #ffffff !important;
}

.booking .vanilla-calendar_hidden {
  visibility: hidden !important;
}

.hiddenCalendar {
  visibility: hidden !important;
}

.booking .vanilla-calendar_to-input {
  z-index: 1;
}

.success {
  display: none;
}

.fail {
  display: none;
}

.booking,
.alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.booking {
  display: none;
}

.alert .container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 125px 0 104px;
  background-color: #38470b;
  width: 1110px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.alert .container .pic {
  display: flex;
  position: relative;
  width: 124px;
  height: 157px;
}
.alert .container .pic .bg {
  width: 100%;
}
.alert .container .pic .check {
  width: 50%;
}
.alert .container .pic .cross {
  width: 37px;
}
.alert .container .check,
.alert .container .cross {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.alert .container p {
  text-align: center;
  line-height: 30px;
}
.alert .container .close {
  width: 12px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.alert .container .close img {
  width: 100%;
}

.booking .container {
  position: fixed;
  z-index: 50;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #38470b;
  background-color: #38470b;
  display: flex;
}
.booking .container .close {
  width: 12px;
  position: absolute;
  top: 38px;
  right: 38px;
}
.booking .container .close img {
  width: 100%;
}
.booking .customer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  padding: 50px 65px 26px;
  width: 445px;
  height: 600px;
}
.booking .customer ul li {
  display: flex;
  flex-direction: column;
}
.booking .customer ul li:nth-child(n+2) {
  margin-top: 16px;
}
.booking .customer input {
  margin-top: 7px;
  color: #38470b;
  height: 38px;
  text-indent: 10px;
}
.booking .customer input:focus {
  outline: none;
}
.booking .customer .nameMessage,
.booking .customer .phoneMessage,
.booking .customer .enterDateMessage,
.booking .customer .leaveDateMessage {
  margin: 0;
  text-align: left;
}
.booking .customer .enterDate,
.booking .customer .leaveDate {
  width: 100%;
  padding: 0;
  border: 0;
}
.booking .customer .submit {
  margin-top: 20px;
  width: 100%;
  height: 42px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #38470b;
}
.booking .customer .submit:hover {
  border: 1px solid #949c7c;
}
.booking .customer .submit:active {
  background-color: #949c7c;
  color: #ffffff;
}
.booking .customer .total {
  text-align: right;
}
.booking .customer .total .days {
  color: #949c7c;
  padding: 16px 0;
  margin-bottom: 8px;
  text-align: left;
  border-bottom: 1px solid #949c7c;
}
.booking .customer .total h4 {
  line-height: 36px;
}
.booking .customer span {
  text-align: center;
  margin-top: 18px;
}
.booking .info {
  box-sizing: border-box;
  padding: 50px 94px 25px 30px;
  width: 665px;
  height: 600px;
  background-color: #ffffff;
  color: #38470b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.booking .info h2 {
  width: fit-content;
  line-height: 33px;
  font-weight: bold;
  position: relative;
}
.booking .info h2::after {
  content: "";
  display: block;
  background-color: #949c7c;
  opacity: 20%;
  position: absolute;
  height: 1px;
  margin-left: 6px;
  top: 50%;
  right: -395px;
  left: 100%;
}
.booking .info p {
  line-height: 24px;
}
.booking .info h3 {
  width: fit-content;
  line-height: 24px;
  font-weight: bold;
  position: relative;
}
.booking .info h3::after {
  content: "";
  display: block;
  background-color: #949c7c;
  opacity: 20%;
  position: absolute;
  height: 1px;
  margin-left: 6px;
  top: 50%;
  right: -477px;
  left: 100%;
}
.booking .info .icon {
  display: flex;
  gap: 20px;
  text-align: center;
}
.booking .info .icon p {
  color: #949c7c;
}

.bookingInfoList li {
  line-height: 26px;
  list-style: disc;
  list-style-position: inside;
}

.bookingProcess {
  display: flex;
  justify-content: space-between;
}
.bookingProcess li {
  position: relative;
  line-height: 18px;
  text-align: center;
  width: 160px;
  height: 136px;
  border: 1px solid #949c7c;
  border-radius: 0px 0px 10px 10px;
}
.bookingProcess li + li::before {
  content: url("../img/room/arrow-left.svg");
  position: absolute;
  width: 7px;
  height: 14px;
  left: -15px;
  top: 25px;
  transform: translate(-50%, -50%);
  transform: rotate(-180deg);
}
.bookingProcess li .pic {
  height: 50px;
  background-color: #949c7c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookingProcess li .pic img {
  width: 20%;
  align-self: start;
  margin: auto;
}
.bookingProcess li p {
  margin-top: 12px;
}

#hotelHome {
  display: flex;
  align-items: center;
  color: #ffffff;
  position: relative;
}
#hotelHome .swiper {
  width: 100%;
  height: 100%;
}
#hotelHome .swiper img {
  width: 100%;
}
#hotelHome .swiper-slide {
  position: relative;
}
#hotelHome .swiper-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#hotelHome .swiper-pagination {
  width: fit-content;
  left: 168px;
  bottom: 48px;
}
#hotelHome .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid #ffffff;
  opacity: 1;
}
#hotelHome .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.hotelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  position: absolute;
  z-index: 5;
}

.hotelInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
}

.hotelConnectInfo {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  margin-top: 16px;
  font-weight: 300;
}

.hotelRoomList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 136px;
  width: 825px;
}

.hotelRoomItem {
  width: 275px;
  height: 275px;
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.hotelRoomItem img {
  width: 100%;
  height: auto;
}
.hotelRoomItem:hover .hotelRoomName {
  opacity: 1;
}

.hotelRoomName {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 275px;
  font-size: 19px;
  color: #ffffff;
  background-color: rgba(56, 71, 11, 0.6);
  transition: 0.3s;
}