main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.roomCoverContainer {
  width: 40%;
  height: 100%;
  background: url("../img/room/photo-1501876725168-00c445821c9e.png") no-repeat top left/cover;
}

.roomCover {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #fcffff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backRoomList {
  align-self: start;
  margin-top: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.backRoomList .arrowLeft {
  height: 16px;
}
.backRoomList a {
  color: #38470b;
}

.roomPriceContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-top: 450px;
  gap: 20px;
}

.roomPrice {
  line-height: 100%;
}

.bookingButton {
  padding: 8.5px 63.5px;
  margin-top: 10px;
  background: #38470b;
  color: #fcffff;
  font-weight: 600;
}

.roomContentContainer {
  width: 60%;
}

.roomContent {
  margin-left: 30px;
  width: 640px;
}

.roomContentTitle {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 107px;
}

.roomName {
  font-weight: 600;
}

.roomSummary {
  margin-bottom: 10px;
  font-weight: 500;
}

.roomCheckTime {
  margin-top: 38px;
}

.roomNotice {
  margin-top: 35px;
  font-weight: 300;
}
.roomNotice li {
  list-style: disc;
}

.roomFailities {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  gap: 36px 25px;
}

.roomFailityIcon {
  display: flex;
  align-items: start;
  gap: 0 4px;
}

.failityIconMain {
  width: 40px;
  height: auto;
}

.failityIconSmall {
  width: 15px;
  height: auto;
}

.roomFailityTitle {
  margin-top: 7px;
  text-align: center;
}

.roomBookingState {
  margin-top: 28px;
}
.roomBookingState h3 {
  font-weight: 500;
}

.bookingCalender {
  width: 100%;
  height: 200px;
  border: 1px solid;
}

.reSearch {
  color: #949c7c;
}