.success {
  display: none;
}

.fail {
  display: none;
}

.booking,
.alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.booking {
  display: none;
}

.alert .container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 125px 0 104px;
  background-color: $primary;
  width: 1110px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $secondary;
  .pic {
    display: flex;
    position: relative;
    width: 124px;
    height: 157px;
    .bg {
      width: 100%;
    }
    .check {
      width: 50%;
    }
    .cross {
      width: 37px;
    }
  }
  .check,
  .cross {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  p {
    text-align: center;
    line-height: 30px;
  }
  .close {
    width: 12px;
    position: absolute;
    top: 12px;
    right: 12px;
    img {
      width: 100%;
    }
  }
}

.booking {
  .container {
    position: fixed;
    z-index: 50;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $primary;
    background-color: $primary;
    display: flex;
    .close {
      width: 12px;
      position: absolute;
      top: 38px;
      right: 38px;
      img {
        width: 100%;
      }
    }
  }
  .customer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $secondary;
    padding: 50px 65px 26px;
    width: 445px;
    height: 600px;
    ul li {
      &:nth-child(n + 2) {
        margin-top: 16px;
      }
      display: flex;
      flex-direction: column;
      // position: relative;
    }
    input {
      margin-top: 7px;
      color: $primary;
      height: 38px;
      text-indent: 10px;
      &:focus {
        outline: none;
      }
    }
    .nameMessage,
    .phoneMessage,
    .enterDateMessage,
    .leaveDateMessage {
      margin: 0;
      text-align: left;
      // color: red;
      // position: absolute;
      // left: 0;
      // top: 44px;
      // transform: translate(0, -50%);
    }

    .enterDateMessage,
    .leaveDateMessage {
      position: relative;

      &::before {
        content: "▾";
        position: absolute;
        right: 12px;
        top: -27px;
        color: $primary;
      }
    }

    .enterDate,
    .leaveDate {
      width: 100%;
      padding: 0;
      border: 0;
    }
    .submit {
      margin-top: 20px;
      width: 100%;
      height: 42px;
      color: $secondary;
      border: 1px solid $secondary;
      background-color: $primary;
      &:hover {
        border: 1px solid $tertiary;
      }
      &:active {
        background-color: $tertiary;
        color: $secondary;
      }
    }
    .total {
      text-align: right;
      .days {
        color: $tertiary;
        padding: 16px 0;
        margin-bottom: 8px;
        text-align: left;
        border-bottom: 1px solid $tertiary;
      }
      h4 {
        line-height: 36px;
      }
    }
    span {
      text-align: center;
      margin-top: 18px;
    }
  }

  .info {
    box-sizing: border-box;
    padding: 50px 94px 25px 30px;
    width: 665px;
    height: 600px;
    background-color: $secondary;
    color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      width: fit-content;
      line-height: 33px;
      font-weight: bold;
      position: relative;
      &::after {
        content: "";
        display: block;
        background-color: $tertiary;
        opacity: 20%;
        position: absolute;
        height: 1px;
        margin-left: 6px;
        top: 50%;
        right: -395px; //547底寬, 146文字寬, 6 margin
        left: 100%;
      }
    }
    p {
      line-height: 24px;
    }
    h3 {
      width: fit-content;
      line-height: 24px;
      font-weight: bold;
      position: relative;
      &::after {
        content: "";
        display: block;
        background-color: $tertiary;
        opacity: 20%;
        position: absolute;
        height: 1px;
        margin-left: 6px;
        top: 50%;
        right: -477px; //547底寬, 64文字寬, 6 margin
        left: 100%;
      }
    }
    .icon {
      display: flex;
      flex-wrap: wrap;
      align-items: end;
      gap: 0 12px;
      width: 100%;
      text-align: center;

      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        img {
          max-width: 32px;
          max-height: 32px;
        }
      }

      p {
        color: $tertiary;
      }
    }
  }
}

.bookingInfoList li {
  line-height: 26px;
  list-style-type: "・";
  list-style-position: inside;
}
.bookingProcess {
  display: flex;
  justify-content: space-between;
  li {
    position: relative;
    & + li::before {
      content: url("../img/room/arrow-left.svg");
      position: absolute;
      // transform: rotateX(-180deg);
      width: 7px;
      height: 14px;
      left: -15px;
      top: 25px;
      transform: translate(-50%, -50%);
      transform: rotate(-180deg);
    }
    line-height: 18px;
    text-align: center;
    width: 160px;
    height: 136px;
    border: 1px solid $tertiary;
    border-radius: 0px 0px 10px 10px;
    .pic {
      height: 50px;
      background-color: $tertiary;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 20%;
        align-self: start;
        margin: auto;
      }
    }
    p {
      margin-top: 12px;
    }
  }
}
