.bookingCalender{
  border: 1px solid $primary;
  border-radius: 0 !important;
}

.vanilla-calendar{
  min-width: 603px !important;
  min-height: 278px !important;

}

.vanilla-calendar-arrow:before{
  background-color: $tertiary !important;
}

.vanilla-calendar-arrow{
  width: 14px !important;
  height: 19px !important;
}

.vanilla-calendar-controls{
  z-index: 20 !important;
  padding-top: 14px !important;
  
}

.dayBtn, .dayBtnToday{
  color: $primary;
  border: none;
  font-size: 11px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $secondary;
  &:hover{
    background-color: $tertiary;
    color: $secondary;
  }
}

.dayBtnSelected{
  background-color: $primary;
  color: $secondary;
}

.daySelectedIntermediate .dayBtnSelected{
  background-color: transparent;
  color: $primary;
}

.daySelectedFirst .dayBtnSelected{
  background-color: $primary;
  color: $secondary;
}

.daySelectedLast .dayBtnSelected{
  background-color: $tertiary;
  color: $secondary;
}

.daySelectedLast{
  background: linear-gradient(-90deg, $secondary 50%, rgba(56, 71, 11, 20%) 50%);
  border-radius: 0 100% 100% 0;
  font-weight: bold;
}

.daySelectedFirst{
  background: linear-gradient(90deg, $secondary 50%, rgba(56, 71, 11, 20%) 50%);
  border-radius: 100% 0 0 100%;
  font-weight: bold;

}

.daySelectedIntermediate{
  background-color: rgba(56, 71, 11, 20%);
  
}

.dayBtnDisabled{
  color:  rgba(56, 71, 11, 30%);
  text-decoration: line-through;
  pointer-events: none;
}

.vanilla-calendar-week{
  color: rgba(56, 71, 11, 50%) !important;
  padding-bottom: 12px;
  border-bottom: 1px solid #0000000A;
}

.vanilla-calendar-week__day{
  color: rgba(56, 71, 11, 50%) !important;

}

.month ,.year{
  color: $primary;
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.vanilla-calendar-header__content{
  gap: 4px;
}

// .vanilla-calendar-days{
//   column-gap: 0px !important;
// }

.vanilla-calendar_hidden{
  visibility: visible !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}


//下拉式日曆
.booking .vanilla-calendar{
  box-sizing: border-box !important;
  border-radius: 0 !important;
  min-width: 315px !important;
  min-height: 278px !important;
  background-color: $secondary !important;
}

.booking .vanilla-calendar_hidden{
  visibility: hidden !important;
}

.hiddenCalendar{
  visibility: hidden !important;
}

.booking .vanilla-calendar_to-input{
  z-index: 1;
}