// color

$gray-100: #707070; //中灰
$gray-200: #6a6a6a; //深灰

$light: #fcffff; //淺白
$primary: #38470b; //深綠
$secondary: #ffffff; //白
$tertiary: #949c7c; //中綠

// $light-gray: #00000029; //淺灰 透明度
// $lighter: #0000000A; //淺綠 透明度
// $light: #FFFFFF00; //白色的透明度0
